@font-face {
	font-family: 'Ezra SIL';
	src: url('EzraSIL.ttf');
}

div#text {
	font-size: 24px;
	margin-top: 20px;
	padding-bottom: 15em;
}

	div.verse {
		position: relative;
		right: 1.5em;
	}

	div.expandable-verse {
		color: #888;
		cursor: pointer;
		font-family: serif;
		direction: ltr;
		text-align: right;
	}

	span.ref {
		cursor: pointer;
		font-family: serif;
		position: absolute;
		right: -1.5em;
	}

	div.clause {
		font-family: 'SBL Hebrew', 'Ezra SIL', 'David';
	}

		div.clause.special-diacritical:before {
			content: '÷';
		}

		div.word {
			border-radius: 3px;
			border: 2px solid transparent;
			cursor: pointer;
			display: inline-block;
			margin-left: 0.5em;
			padding: 2px;
			vertical-align: top;
		}

			div.word:hover {
				border-color: #ccc;
			}

			div.word.selected {
				border-color: #33c2f2;
			}

			div.word.highlighted {
				background-color: #bef;
			}

			div.word.deleted {
				color: #aaa;
			}

			div.word .note {
				color: #888 !important;
				direction: ltr;
				display: block;
				font-family: sans-serif;
				font-size: 12px;
				text-align: right;
			}

			div.word.selected .note {
				color: #000 !important;
			}

			div.word .translation {
				direction: ltr;
				display: block;
				font-family: sans-serif;
				font-size: 15px;
				text-align: right;
			}

			div.word.special-predicate {
				color: #00f !important;
			}

				div.word.special-predicate.deleted {
					color: #66f;
				}

			div.word.special-subject {
				color: #b00 !important;
			}

				div.word.special-subject.deleted {
					color: #f66;
				}
