#help {
  display: none;
}

#show_help {
  margin-top: -30px;
}

#controls label {
  margin-right: 0.5em;
}

.input-book, .input-chapter, .input-verse {
  font-size: 85%;
}

.input-book {
  width: 9em !important;
}

.input-chapter {
  border-left: none;
  width: 6em !important;
}

.input-verse {
  border-left: none;
  width: 5em !important;
}

